@media(min-width: 480px) and (max-width: 767px) {
    html {
        background-image: url(../images/background-pattern-mobile.svg);
    }

    .accordion{
        margin: 0 20px;
    }

    .accordion .content .header h1 {
        font-size: 2rem;
    }

    .accordion .content .header img {
        width: 20px;
        height: 20px;
    }
}

@media(max-width: 479px){
    .accordion {
        max-width: 400px;
        margin: 0 20px;
    }

    .accordion .content .header h1 {
        font-size: 2rem;
    }

    .accordion .content .header img {
        width: 20px;
        height: 20px;
    }
}